.DS_Store
node_modules
public/bundle.*
package-lock.json
yarn.lock
cache
.cache
vendor
!resources/components/vendor
app/config/config.php
public/img/**
!public/img/favicon.ico
!public/img/favicon.png
dist/*
public/dist/*